$main-color: #fffe15;
$sub-color: #0c1e29;
$shadows: 0 2px 5px $sub-color;
$hover-shadows: 0 8px 5px rgba(0, 0, 0, 0.7);

@mixin DisplayFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@mixin pageStyle {
    background-color: $sub-color;
    width: 80vw;
    border-radius: 10px;
    box-shadow: $shadows;
    padding: 20px;
}
